@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

html, body {
    height: 100%;
}

body {
    font-size: 1.5vw;
    /*padding-top: 3rem;
    padding-left: 5rem;*/
    font-family: 'DM Serif Display', serif;
}

.footerText {
    position: fixed;
    bottom: 0;
    font-size: 0.8vw;
}

.inputField {
    background-color: transparent;
    border: 1px solid black;
    width: 100%;
    height: 3vw;
    margin-top: 1vw;
    padding-left: 1vw;
    font-size: 1rem;
}

.titel {
    font-size: 5rem;
}

input.button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    height: 2vw;
    /*margin-left: 27.3vw;*/
    margin-top: 1vw;
    font-family: 'DM Serif Display', serif;
    cursor: pointer;
    padding: 0;
}

.align_r{
    float:right;
}

a {
    color: black;
    text-decoration: none;
    margin-left: 43vw;
    font-size: 0.8rem;
    font-family: 'DM Serif Display', serif;
}

.info, ul#javax_faces_developmentstage_messages{
    font-size: 1vw;
    list-style: none;
    color:saddlebrown;
}
ul.info{
    margin:0;
}

.background-login {
    background-image: url("#{resource['login.svg']}");
    background-repeat: no-repeat;
    /*background-size: cover;*/
    /*background-position: center;*/
    background-size: 100% auto;
    margin-top: 6vw;
    margin-left: 4rem;
}

.form_login {
    margin-left: 10vw;
    width: 32vw;
}

form input {
    display: block;
}

.background-contacts {
    background-image: url("#{resource['contacts.svg']}");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.background-chat {
    background-image: url("#{resource['chat.svg']}");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.background-profile {
    background-image: url("#{resource['profile.svg']}");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.background-settings {
    background-image: url("#{resource['settings.svg']}");
    background-repeat: no-repeat;
    background-size: 100% auto;
}

.background-signup {
    background-image: url("#{resource['signup.svg']}");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 6vw;
    margin-left: 6vw;
}

.form_signup {
    margin-left: 15vw;
    width: 32vw;
}

/*
Schriften etc. mit em skalieren
 */

/*
Links (z.B. aus find. und profile) ne CSS Klasse geben --> Link ne feste Größe width geben und die Sprechblase z.B. als
Hintergrundbild setzen
 */