@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

html, body {
    height: 100%;
}

/*****************************************************************************************
******************************** LOGGED IN AS ** LOG OUT *********************************
 *****************************************************************************************/

.loggedin_info {
    position: fixed;
    top: 0;
    display: flex;
    margin-top: 2vw;
    margin-left: -10vw;
    font-size: 1rem;
    width: 100vw;
}
.loggedin_info input.button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    height: 2vw;
    margin-left: 79vw;
    margin-top: 0 !important;
    font-family: 'DM Serif Display', serif;
    cursor: pointer;
    padding: 0;
}

/*****************************************************************************************
************************************ ALLGEMEINES *****************************************
 *****************************************************************************************/

body {
    font-size: 1.5vw;
    /*padding-top: 3rem;
    padding-left: 5rem;*/
    font-family: 'DM Serif Display', serif;
}

.footerText {
    position: fixed;
    bottom: 0;
    font-size: 0.8rem;
    margin-left: -10vw;
    background-color: white;
    padding: 0.3vw;
}

.inputField {
    background-color: transparent;
    border: 1px solid black;
    width: 100%;
    height: 3vw;
    margin-top: 1vw;
    padding-left: 1vw;
    font-size: 1rem;
}

label{
    font-size: 1rem;
}

.titel {
    font-size: 5rem;
}

input.button {
    background-color: transparent;
    border: none;
    font-size: 1.2rem;
    height: 2vw;
    margin-top: 2vw;
    margin-right: -1.5vw;
    font-family: 'DM Serif Display', serif;
    cursor: pointer;
    padding: 0;
}

.align_r{
    float:right;
}

a {
    color: black;
    text-decoration: none;
    font-size: 0.8rem;
    font-family: 'DM Serif Display', serif;
}

.info, ul#javax_faces_developmentstage_messages{
    font-size: 1vw;
    list-style: none;
    color:saddlebrown;
}
ul.info{
    margin:0;
}

/*****************************************************************************************
*************************************** LOGIN ********************************************
 *****************************************************************************************/

.background-login {
    background-image: url("#{resource['login.svg']}");
    background-repeat: no-repeat;
    /*background-size: cover;*/
    /*background-position: center;*/
    background-size: 100% auto;
    margin-top: 6vw;
    margin-left: 4rem;
}

.form_login {
    margin-left: 10vw;
    width: 32vw;
}

.sign_up_button {
    margin-left: 43vw;
}

form input {
    display: block;
}

/*****************************************************************************************
************************************* CONTACTS *******************************************
 *****************************************************************************************/

.background-contacts {
    background-image: url("#{resource['contacts.svg']}");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 9vw;
    margin-left: 11vw;
}

.contacts_content {
    margin-top: 2vw;
    margin-left: 19vw;
    width: 41vw;
    height: 30vw;
}

/*****************************************************************************************
*************************************** CHAT *********************************************
 *****************************************************************************************/

.background-chat {
    background-image: url("#{resource['chat.svg']}");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 6vw;
    margin-left: 11vw;
}

/*.chat_head{
    display: flex;
    margin-left: 22vw;
    margin-top: -8vw;
}*/

.chatpartner{
    color: saddlebrown;
    font-size: 3rem;
    margin-left: 3vw;
}

.form_send_message{
    display: flex;
    margin-left: 50vw;
    margin-right: 3vw;
    width: 30vw;
    margin-top: -8vw;
}

#message-history {
    margin-top: 5vw;
}

#message-history tr{
    height:3.5vw;
}

.message {
    border: 1px solid black;
    padding: 0.5vw;
    margin: 1vw;
    width: 30vw;
}

.message_text {
    font-size: 1rem;
}

.message_time{
    font-size: 0.5rem;
    float: right;
}


/*****************************************************************************************
************************************* PROFILE ********************************************
 *****************************************************************************************/

.background-profile {
    background-image: url("#{resource['profile.svg']}");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 9vw;
    margin-left: 9vw;
}

.description{
    margin-top: 2vw;
    margin-left: 19vw;
    width: 41vw;
    height: 20vw;
}

.profile_buttons{
    margin-left: 45vw;
}

.profile_buttons a{
    padding: 2vw;
}

/*****************************************************************************************
**************************** CONFIGURE / SETTINGS ****************************************
*****************************************************************************************/

.background-settings {
    background-image: url("#{resource['settings.svg']}");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 6vw;
    margin-left: 9vw;
}

.configure_content {
    display: flex;
    margin-left: 10vw;
}

.configure_newpassword {
    margin-top: 4vw;
    width:25vw;
}

.configure_newdescription {
    width:25vw;
    margin-top: 10vw;
    margin-left: 19vw;
}

.configure_newdescription textarea {
    height: 6vw;
}

/*****************************************************************************************
************************************* SIGN UP ********************************************
 *****************************************************************************************/

.background-signup {
    background-image: url("#{resource['signup.svg']}");
    background-repeat: no-repeat;
    background-size: 100% auto;
    margin-top: 6vw;
    margin-left: 6vw;
}

.form_signup {
    margin-left: 15vw;
    width: 32vw;
}

/*
Links (z.B. aus find. und profile) ne CSS Klasse geben --> Link ne feste Größe width geben und die Sprechblase z.B. als
Hintergrundbild setzen
 */